<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>

<header>
    <% include header.ejs %>
</header>

<main>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <h1><%= user.username %></h1>
                    <p><%= user.email %></p>
                    <p><img class="img-thumbnail" src="/uploads/<%= user.avatarUrl %>"></p>
                    <p>Change password:</p>

                    <form action="/account/changepass" method="post">
                        <div class="form-group">
                            <p><input type="password" class="form-control" placeholder="New password" name="newpass">
                            </p>
                            <p><input type="password" class="form-control" placeholder="Old password" name="oldpass">
                            </p>
                        </div>
                        <p>
                            <button type="submit" class="btn btn-primary">Change password</button>
                        </p>
                    </form>

                    <p>
                        <% if (valid != null) { %>
                        <% if (valid == true) { %>
                    <div class="alert alert-success" role="alert">Password changed</div>
                    <% } else if (valid == false) { %>
                    <div class="alert alert-danger" role="alert">Incorrect old password</div>
                    <% } %>
                    <% } %>
                    </p>
                </div>

                <div class="col-md-8">
                    <!--<h2>Chose management option</h2>
                    <select id="menuSelector" class="form-control">
                        <option value="1">Create offer</option>
                        <option value="2">Create category</option>
                    </select>-->
                    <% if (user.isAdmin) { %>
                        <h2>Chose management option</h2>
                        <select id="menuSelector" class="form-control">
                            <option value="1">Create offer</option>
                            <option value="2">Create category</option>
                        </select>
                        <div class="adminMenu createMenu1">
                            <% include create_offer.ejs %>
                        </div>
                        <div class="adminMenu createMenu2">
                            <% include create_category.ejs %>
                        </div>
                    <% } else { %>
                        <h2>Chose management option</h2>
                        <select id="menuSelector" class="form-control">
                            <option value="1">Create offer</option>
                        </select>
                        <% include create_offer.ejs %>
                    <% } %>

                    <!--<form action="/board/create/category" method="post">-->
                        <!--<h3>Create new offer:</h3>-->
                        <!--<input name="name">-->
                        <!--<input name="shortName">-->

                        <!--<button type="submit" class="btn btn-primary">Create</button>-->

                    <!--</form>-->


                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Your active offers:</h1>
        <div class="row">
            <% offers.forEach(function (item) { %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/uploads/<%= item.imgUrl %>">
                    <div class="caption">
                        <h3><%= item.title %></h3>
                        <p><%= item.ShortDescription %></p>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#exampleModalLong">
                            Delete
                        </button>

                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Do you want to delete <i><%= item.title %></i>?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/offer/delete/?offer_id=<%= item._id %>" class="btn btn-danger"
                                           role="button">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>


</main>

<script>
    $(document).ready(function(){
        $(".adminMenu").toggle();
        $(".createMenu1").toggle();
        $("#menuSelector").change(function () {
            $(".adminMenu").toggle(false);
            var value = $(this).val();
            var menuClassName = ".createMenu" + value;
            $(menuClassName).toggle(true);
        })
    });
</script>
</body>
</html>