<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>

<header>
    <% include header.ejs %>
</header>

<main>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <h1><%= user.username %></h1>
                    <p><%= user.email %></p>
                    <p><img class="img-thumbnail" src="/uploads/<%= user.avatarUrl %>"></p>
                    <p>Change password:</p>

                    <form action="/account/changepass" method="post">
                        <div class="form-group">
                            <p><input type="password" class="form-control" placeholder="New password" name="newpass">
                            </p>
                            <p><input type="password" class="form-control" placeholder="Old password" name="oldpass">
                            </p>
                        </div>
                        <p>
                            <button type="submit" class="btn btn-primary">Change password</button>
                        </p>
                    </form>

                    <p>
                        <% if (valid != null) { %>
                            <% if (valid == true) { %>
                                <div class="alert alert-success" role="alert">Password changed</div>
                            <% } else if (valid == false) { %>
                                <div class="alert alert-danger" role="alert">Incorrect old password</div>
                            <% } %>
                        <% } %>
                    </p>
                </div>

                <div class="col-md-8">
                    <form action="/offer/create" method="post" enctype="multipart/form-data">
                        <h1>Create new offer:</h1>

                        <div class="form-group">
                            <label for="SelectCategory">Select category:</label>
                            <select class="form-control" id="SelectCategory" name="catname">
                                <% cat.forEach(function (item) { %>
                                    <option value="<%= item.name %>"><%= item.name %></option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="InputOfferName">Offer name:</label>
                            <input class="form-control" id="InputOfferName" placeholder="Offer name" name="oname">
                        </div>

                        <div class="form-group">
                            <label for="InputShortDesc">Short description:</label>
                            <input class="form-control" id="InputShortDesc" placeholder="Short description" name="sdesc">
                        </div>

                        <div class="form-group">
                            <label for="InputtDesc">Description:</label>
                            <textarea class="form-control" id="InputtDesc" rows="5" placeholder="Description" name="desc"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="InputFile">Upload image</label>
                            <input type="file" id="InputFile" name="image">
                        </div>

                        <button type="submit" class="btn btn-primary">Create</button>

                    </form>
                </div>
            </div>
            <h1>Your active offers:</h1>

            <% for (var i = 0; i < user.offers.length; i++) { %>
            <p>
                <div class="panel panel-primary">
                    <div class="panel-heading"><%= user.offers[i].title %></div>
                    <div class="panel-body container">
                        <div class="row">
                            <div class="col-md-8">
                                <h3>Short description</h3>
                                <p><%= user.offers[i].ShortDescription%></p>
                                <h3>Description</h3>
                                <p><%= user.offers[i].description%></p>
                            </div>
                            <div class="col-md-4">
                                <p><img class="offer-img" src="/uploads/<%= user.offers[i].imgUrl %>"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
            <% } %>
        </div>
    </div>

</main>


</body>
</html>